@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-image: url("unnamed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  font-family: "Poppins", sans-serif;
  background-position: center center;
  min-height: 100vh;
}
span {
  min-width: 200px;
}
.am-pm {
  margin-left: 10px;
}
#clock {
  font-size: 100px;
  text-align: center;
  width: 900px;
  border: 2px solid black;
  background-color: purple;
  color: white;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  margin-top: -100px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
