@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-image: url("unnamed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  background-position: center center;
  min-height: 100vh;
}
span {
  position: absolute;
  min-width: 200px;
}

.hour {
  left: 50px;
}
.min {
  left: 210px;
}
.sec {
  left: 370px;
}
.am_pm {
  left: 520px;
}
#clock {
  font-size: 100px;
  text-align: center;
  width: 750px;

  background-color: rgb(191, 113, 75);
  color: white;
  height: 200px;
  position: relative;
  top: 80%;
  left: 10%;
  margin-top: 200px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
